/* Footer styles */
.footer-wrapper {
    background-color: #11122b;
    color: #cbcbcb;
    font-family: "Ubuntu Condensed", sans-serif; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 420px;
    margin-top: -7px;
}

.footer-wrapper > .logo img {
    width: 222px;
    height: 100%;
    filter: brightness(69%);
    border-radius: 37%;
}

i {
    color: #cbcbcb;
    transition: 0.3s;
}

i:hover {
color: #b22111;
}

.footer-wrapper > .contact-hours-footer span {
    letter-spacing: 2px;
    margin-left: 10px;
    margin-right: 10px;

}

.footer-wrapper > .contact-hours-footer > .time {
    font-size: .8em;
    color: #ff9900;
    text-transform: uppercase;
    font-weight: 900;

}

.footer-wrapper > .links-wrapper {
    margin-top: 37px;
    margin-bottom: 37px;
    width: 420px;
}

.footer-wrapper > .social-wrapper {
    margin-top: 23px;
    margin-bottom: 37px;
    width: 370px;
    display: flex;
    justify-content: space-around;
}

 a {
    font-size: 1.5em;
    color: #cbcbcb;
    transition: 0.5s;
    text-decoration: none;
}

 a:hover {
    color: #b22111;
    text-decoration: none;
}

.footer-wrapper > .copyright {
    color: #858585;
    font-size: 70%;
    margin-bottom: 42px;
}

.footer-wrapper > .disclaimer {
    color: #5cdbe9;
    font-size: 70%;
    margin-bottom: 42px;
}