/* Common nav styles */
.navigation-wrapper {
    position: relative; /* Ensures absolute children position correctly */
    height: 151px;
    background-color: #ff9900;
    color: #11122b;
    /* flexbox container */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 100px;
}

/* Left column styles */
.navigation-wrapper > .left-column {
    display: flex;
    align-items: center;
}

.navigation-wrapper > .left-column > .icon {
    margin-right: 15px;
}

.navigation-wrapper > .left-column > .icon i {
    font-size: 2em;
    color: #cbcbcb;
    transition: 0.3s;
}

.navigation-wrapper > .left-column > .icon i:hover {
color: #b22111;
}

.navigation-wrapper > .left-column > .contact-hour-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
}

.navigation-wrapper > .left-column > .contact-hour-wrapper > .hours {
    font-family: 'Ubuntu Condensed', sans-serif;
    color: #676767;
    font-size: 0.8em;
}

/* Center column styles */
.navigation-wrapper > .center-column {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 37px;
    width: 420px;
}

.navigation-wrapper > .center-column > .banner-image {
    display: flex;
    justify-content: center;
}

.navigation-wrapper > .center-column > .banner-image img {
    width: 234px;
    height: 100%;
}

.links-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links-wrapper > .nav-link {
    width: 123px;
    text-align: center;
}

.links-wrapper > .nav-link a {
    font-family: "Ubuntu Condensed", sans-serif;
    color: #cbcbcb;
    text-decoration: none;
    transition: 0.7s;
}

.links-wrapper > .nav-link a:hover {
    color: #b22111;
    letter-spacing: 2px;
}

/* Right column styles */
.navigation-wrapper > .right-column {
    display: flex;
    align-items: center;
}

.navigation-wrapper > .right-column > .address-wrapper {
    font-family: 'Ubuntu Condensed', sans-serif;
    text-align: right;
}

.navigation-wrapper > .right-column > .address-wrapper a {
    color: #858585;
    text-decoration: none;
    font-size: 0.9em;
    transition: 0.3s;
}

.navigation-wrapper > .right-column > .address-wrapper a:hover {
    color: #b22111;
}

.navigation-wrapper > .right-column > .contact-icon {
    margin-left: 15px;
    font-size: 2em;
}

.navigation-wrapper > .right-column > .contact-icon a {
    color: #cbcbcb;
    transition: 0.3s;
}

.navigation-wrapper > .right-column > .contact-icon a:hover {
color: #b22111;
}